@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Space Mono", sans-serif;
}

.App {
  /* background-color: rgb(199, 224, 236); */
  background: #c5e4e7;

  min-height: 100vh;

  margin: 0 auto;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tittle > h1 {
  font-size: 2rem;
  letter-spacing: 5px;
  text-align: center;
  color: #3d6666;
}
.tittle {
  margin-bottom: 5rem;
}

/* ///////////////////////input fields //////////////////////////////*/
.input-field {
  background: #f3f9fa;
  border: none;
  border-radius: 5px;
  transition: 3ms;

  height: 4rem;
  width: 100%;

  margin-top: 0.5rem;
  padding: 0 1rem;
  text-align: end;
  font-size: 1.8rem;
  font-family: inherit;
  font-weight: 600;
}

.input-field:focus {
  outline: none;
  border: 2px solid #26c2ae;
  border-radius: 5px;
}
.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.bill-input {
  display: flex;
  position: relative;
}
.top-input-fake-placeholder {
  font-size: 2rem;
  position: absolute;
  top: 25%;
  left: 1rem;
  color: #7f9d9f;

  /* transform: translate(50%, 50%); */
}

/* The calculator */
.whole-calc {
  /* max-width: 92rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;
  column-gap: 2rem;

  background-color: #ffffff;
  padding: 3rem;
  border-radius: 10px;
}
h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #5e7a7d;
}

.tips-section {
  margin: 2.4rem 0;
}

.btn-discounts {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.tip-btn {
  min-width: 10rem;
  background-color: #00474b;
  padding: 0.7rem 1.2rem;
  color: #ffffff;
  font-size: 2.4rem;
  font-family: inherit;
  border-radius: 5px;
}
.custom-btn {
  color: #547878;
  background-color: #f3f9fa;
  border: none;
}

/* calc-right */
.calc-right {
  background-color: #00474b;
  padding: 2rem 2rem;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tip-amount > h2 {
  color: #ffffff;
}
.tip-amount > p {
  color: #7f9d9f;
}

.fig-amounts {
  color: #26c2ae;
  font-size: 4.8rem;
  font-weight: 700;
}
.tipping {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tip-space {
  margin-bottom: 1.8rem;
}

.btn-reset {
  padding: 0.5rem 1.4rem;
  width: 90%;
  height: 4rem;
  align-self: center;
  background-color: #0d686d;
  color: #00474b;
  border: none;
  border-radius: 5px;
}

/*///////////////////// media querries /////////////////////*/
/* 768px */
@media (max-width: 48em) {
  .btn-discounts {
    grid-template-columns: repeat(2, 1fr);
    /* padding: 0 1rem; */
  }
  .tip-btn {
    min-width: 5rem;
    background-color: #00474b;
    padding: 0.8rem 1rem;
  }
  .custom-btn {
    color: #547878;
    background-color: #f3f9fa;
    border: none;
  }
  .whole-calc {
    grid-template-columns: 1fr 1.5fr;
  }
}

/* 496px */
@media (max-width: 31em) {
  .whole-calc {
    grid-template-columns: 1fr;
    width: 100vw;
    padding-bottom: 9rem;
  }
  .btn-reset {
    margin: 5rem 0 3rem 0;
  }

  .fig-amounts {
    color: #26c2ae;
    font-size: 4.4rem;
    font-weight: 700;
  }
  .tip-btn {
    min-width: 5rem;
    font-size: 3rem;
    background-color: #00474b;
    padding: 1rem 1rem;
    border-radius: 10px;
  }
  .custom-btn {
    color: #547878;
    background-color: #f3f9fa;
    border: none;
  }
  .tittle {
    /* margin-bottom: 3.6rem; */
    padding: 3.6rem 0;
    margin-bottom: 0;
  }
  .tittle > h1 {
    font-size: 2.4rem;
    letter-spacing: 6px;
  }
  /* .tips-section {
    margin: 3.6rem 0;
  } */
  .field-2 {
    margin-bottom: 3.6rem;
  }
  .btn-discounts {
    gap: 1.5rem;
  }

  .App {
    display: block;
    padding: 0;
    height: auto;
  }
}
