* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

.App {
  /* text-align: center; */
  background-color: rgb(203, 234, 250);
  height: 100vh;

  margin: 0 auto;
  padding: 0 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.tittle > h1 {
  font-size: 2rem;
  letter-spacing: 5px;
}
.tittle {
  margin-bottom: 5rem;
}

/* input fields */
.input-field {
  color: #f3f9fa;
  height: 2.5rem;
}

/* The calculator */
.whole-calc {
  /* max-width: 92rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  justify-content: center;

  background-color: beige;
  padding: 3rem;
  border-radius: 10px;
}
h2 {
  font-size: 1.6rem;
  font-weight: 700;
  color: #5e7a7d;
}
